
<main>


  <div class="search-box">

      <div class="logo-box">
        <a href="/pokemons">
          <h1> Pokédex</h1>
        </a>
      </div>

    <div class="p-16-box">
      <input
      #input
      type="number"
      (keyup.enter)="selectPokemon(input.value)"
      placeholder="Rechercher un Pokémon"
      />
    </div>
  </div>

  <div class="result-box" *ngIf="searchBoxSwitch">
    <div class="p-16-box">
      <p *ngIf="pokemonSelected">
        Vous avez selectionné : {{pokemonSelected.name}}
      </p>
      <p *ngIf="!pokemonSelected">
        Aucun pokémon correspondant
      </p>
      </div>
  </div>


  <router-outlet></router-outlet>




</main>
