/* You can add global styles to this file, and also import other style files */


// ------------------------------------------------------------------- IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



// ------------------------------------------------------------------- VAR

$color-primary: rgb(253, 75, 75);
$color-light-grey: rgb(237, 237, 237);


// ------------------------------------------------------------------- GENERIC
.p-16-box{
  padding: 16px;
}



// ------------------------------------------------------------------- TEMPLATE

body{
  margin: 0;
  padding: 0;
  background-color: $color-light-grey;
  font-family: 'Poppins', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.search-box{
  width: 70%;
  border-radius: 16px;
  background-color: white;
  margin-top: 32px;
  display: flex;


  .logo-box{
    background-color: $color-primary;
    color: white;
    border-radius: 16px 0 0 16px;

    h1{
      padding: 0 64px;
    }

    a{
      text-decoration: none;
      color: white;
    }
  }

  .p-16-box{
    width: 70%;
    display: flex;
    align-items: center;

    input{
      width: 100%;
      // text-align: center;
      font-size: 22px;
      border: none;

      &:focus{
        border: none;
        outline: none;
        border-bottom: 2px solid $color-light-grey;
      }
    }
  }
}

.result-box{
  width: 70%;
  border-radius: 16px;
  background-color: white;
}


// ------------------------------------------------------------------- LIST

app-pokemon-list{
  // outline: 4px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-grid{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-bottom: 64px;


  .pokemon-card{
    // outline: solid 2px red;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    position: relative;
    border: solid 6px rgb(229, 229, 229);

    .pokemon-pv{
      position: absolute;
      right: 16px;
      top: 16px;
      font-size: 12px;
        span{
          font-weight: bold;
        }
    }

    img{
      width: 100%;
    }

    h3{
      font-size: 24px;
      margin: 0 0 8px 0;
    }

    .type-box{
      display: flex;
      gap: 8px;
      span{
        padding: 0 16px;
        border-radius: 16px;
        background-color: red;
      }

    }

  }
}

// ------------------------------------------------------------------- SHOW


app-pokemon-show{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  .links-box{
    width: 70%;

    a{
      text-decoration: none;
      font-weight: bold;
      color: $color-primary;
    }
  }

  .pokemon-show-box{
    margin-bottom: 64px;
    position: relative;

    .p-16-box{
      display: flex;
      gap: 32px;
      background-color: white;
      border-radius: 16px;

      .info-box{

        h1{

        }

        span{
          padding: 0 16px;
          border-radius: 16px;
          background-color: red;
          margin-left: 8px;
        }
      }
    }

    .edit-box{
      position: absolute;
      top: 0px;
      right: -60px;
      // outline: solid red 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      a{
        text-decoration: none;
        color: $color-primary;
        cursor: pointer;
        background-color: white;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
      }
    }

  }

}

// ------------------------------------------------------------------- 404
.not-found-box{
  display: flex;
  flex-direction: column;
  align-items: center;


  .not-found{
    color: $color-primary;
    font-weight: bold;
    font-size: 272px;
    margin: 0px;
  }

  .oops{
    margin: 0;

    font-size: 24px;
    margin-top: -64px;
  }

  a{
    color: white;
    background-color: $color-primary;
    font-size: 24px;
    padding: 16px 32px;
    margin-top: 32px;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
  }
}
